
<html>
    <head>
      <title>Paige's Web Service - Loads</title>
      <% include('head') %>
      <script src="../helpers.js"></script>
    </head>
    <body>
      <h1>Loads 🚛</h1>
      <iframe src="https://giphy.com/embed/zZMTVkTeEfeEg" width="480" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-wiggle-zZMTVkTeEfeEg"></a></p>
      <h2><a href="https://paigewebservice.b4a.app/">Home</a></h2>
    </body>
</html>